* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background: #0a2433;
  padding: 20px;
}

.main {
  margin: 7vh auto;
  height: 70vh;
  max-width: 800px;
  background: #f6e9df;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.die-container {
  display: grid;
  grid-template: auto auto/repeat(5, 1fr);
  gap: 30px;
  cursor: pointer;
}

button{
    padding: 10px 20px;
    border: none;
    margin: 25px;
    font-size: 1.2rem;
    background-color: #5035ff;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
}